<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Netflix</title>
    <link rel="icon" href="/views/public/images/netflix-logo-aba.png">
    <link rel="stylesheet" href="public/stylesheets/style.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" >
</head>
<body>
    <header >

        <div class="cabecalho">
            <a href="index.html">
                <img src="public/images/netflix-logo.png" width="88px" >
            </a>
            <nav class="menu-topo">
            <ul>
                <li><a href="index.html">Início </a></li>
                <li> <a href="series.html">Séries</a></li>
                <li><a href="filmes.html">Filmes </a></li>
                <li> <a href="">Bombando</a></li>
                <li> <a href="">Minha lista</a></li>
            </ul>
        </nav>
        </div>
        
    </header>

    <main>
        <div class="filme-principal">
            <div class="container">
            <img src="public/images/enola-logo.png" width="1300px">
            <br><br> 
            <p class="descricao">Em seu primeiro caso oficial como detetive,<br>
                 Enola precisa encontrar uma menina desaparecida.<br> Para isso, ela conta com a ajuda dos amigos e do irmão,<br> Sherlock.
            </p>
            <br>
            <button class="btn-assistir">
                <span class="mdi mdi-play"></span>Assistir
            </button>
            
            <button class="btn-info">
                <span class="mdi mdi-information-outline"></span> Informações
            </button>
            </div>
        </div>
        

        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Ação</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/wick.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/wick2.jpg"
                               >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/wick3.jpg" 
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/spider.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/spider2.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/tmnt.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/red.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/polar.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/babydriver.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/oldguard.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast1.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast2.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast9.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/power.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/shaft.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/esquadrao6.jpg" 
                                 >
                        </a>
                    </div>
                    
                </div>
                
                
            </div>
            
        </section>
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Aventura</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/ghostb.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/enola.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/enola2.jpg" 
                               >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/jumanji.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/jumanji1.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/jogosvorazes.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/kingsman.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/projetoadam.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/pixels.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/oldguard.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/dolittle.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast2.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast9.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/power.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/shaft.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/esquadrao6.jpg" 
                                 >
                        </a>
                    </div>
                    
                </div>
                
                
            </div>
            
        </section>

        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Animação</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/chefinho.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/red2.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/kungfupanda.jpg" 
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/pets.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/pets2.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/rango.jpg" 
                               >
                        </a>
                    
                
                
            </div>
            
        </section>
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Festa de fim de ano</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/amorcomdata.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/oprincipedonatal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/casamentoreal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/bebereal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/grinch.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/grinch2.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/invecaodenatal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/nataldeangela.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/umchrushpara o natal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/ummeninochamadonatal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/shreknatal.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/nataldoburro.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/tudobemnonatalquevem.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/fallingforchristmas.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/esqueceramdemim.jpg"
                                 >
                        </a>
                    </div>
                    
                    
                    
                </div>
                
                
            </div>
            
        </section>
        
        
        


    
    </main>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            spaceBetween: 5,
            slidesPerView: 10,
            loop: true,
            freeMode: true,
            loopAdditionalSlides: 5,
            speed: 500,
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 640px
                640: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    freeMode: false
                }
            }
        })
    </script>
    
    
   



</body>
</html>