<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="public/images/netflix-logo-aba.png">
    <title>Netflix</title>
    <link rel="stylesheet" href="public/stylesheets/style.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" >
</head>
<body>
    <header>

        <div class="cabecalho">
            <a href="index.html">
                <img src="public/images/netflix-logo.png" width="88px" >
            </a>
            <nav class="menu-topo">
            <ul>
                <li><a href="index.html">Início </a></li>
                <li> <a href="series.html">Séries</a></li>
                <li><a href="filmes.html">Filmes </a></li>
                <li> <a href="">Bombando</a></li>
                <li> <a href="">Minha lista</a></li>
            </ul>
        </nav>
        </div>
        
    </header>

    <main>
        <div class="principal">
            <div class="container">
            <img src="public/images/kimetsu-logo.png" width="1000px">
                
            <p class="descricao">Demônios massacraram sua família e amaldiçoaram sua irmã.
                Agora <br>Tanjiro inicia sua jornada para encontrar a cura e se vingar.
            </p>
            <br>
            <button class="btn-assistir">
                <span class="mdi mdi-play"></span>Assistir
            </button>
            
            <button class="btn-info">
                <span class="mdi mdi-information-outline"></span> Informações
            </button>
            </div>
        </div>
        

        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Em alta</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/wandinha.jpg"
                                alt="Wednesday">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/1899.jpg"
                                alt="1899">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/vikingvalhala.jpg"
                                alt="Vikings Valhala">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/elite.jpg" 
                                alt="Elite">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/friends.jpg"
                                alt="Friends">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/thecrown.jpg"
                                alt="The Crown">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/bridgerton.jpg" 
                                alt="Bridgerton">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/anne2.jpg" 
                                alt="Anne">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/twd.jpg" 
                                alt="The Walking Dead">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/orange.jpg" 
                                alt="Orange is the new black">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/thisisus.jpg" 
                                alt="This is Us">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theranch.jpg" 
                                alt="The Ranch">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/visavis.jpg" 
                                alt="Vis a Vis">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theblacklist.jpg" 
                                alt="The Blacklist">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/suits.jpg" 
                                alt="Suits">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/ozark.jpg" 
                                alt="Ozark">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/umbrellaaxcademy.jpg" 
                                alt="The Umbrella Academy">
                        </a>
                    </div>
                    
                </div>
                
                
            </div>
            
        </section>

        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Minha lista</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/chefinho.jpg"
                                alt="O Poderoso Chefinho">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/vikingvalhala.jpg"
                                alt="Vikings Valhala">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/fast2.jpg" 
                                alt="Fast and furious 2">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/godfather.jpg"
                                alt="The Godfather">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/corra.jpg"
                                alt="Corra">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/godfather2.jpg" 
                                alt="The Godfather2">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/baki.jpg" 
                                alt="Baki">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/twd.jpg" 
                                alt="TWD">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/narcos.jpg" 
                                alt="Narcos">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/round6.jpg" 
                                alt="Round 6">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/friends.jpg" 
                                alt="Friends">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/onepiece.jpg" 
                                alt="One piece">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/brooklyn99.jpg" 
                                alt="Brooklyn 99">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/blue.jpg" 
                                alt="Blue Exorcist">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/strangerthings.jpg"
                                alt="Stranger things">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/wandinha.jpg" 
                                alt="Wednesday">
                        </a>
                    </div>
                    
                </div>
                
                
                
            </div>
            
        </section>
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Festa de fim de ano</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/amorcomdata.jpg"
                                alt="amorcomdata">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/oprincipedonatal.jpg"
                                alt="oprincipedonatal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/casamentoreal.jpg"
                                alt="casamentoreal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/bebereal.jpg"
                                alt="bebe real">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/grinch.jpg"
                                alt="grinch">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/grinch2.jpg"
                                alt="grinch clássico">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/invecaodenatal.jpg"
                                alt="invecaodenatal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/nataldeangela.jpg"
                                alt="nataldeangela">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/umchrushpara o natal.jpg"
                                alt="um chrush para o natal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/ummeninochamadonatal.jpg"
                                alt="ummeninochamadonatal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/shreknatal.jpg"
                                alt="shreknatal">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/nataldoburro.jpg"
                                alt="nataldoburro">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/tudobemnonatalquevem.jpg"
                                alt="tudobemnonatalquevem">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/fallingforchristmas.jpg"
                                alt="fallingforchristmas">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/natal/esqueceramdemim.jpg"
                                alt="esqueceramdemim">
                        </a>
                    </div>
                    
                    
                    
                </div>
                
                
            </div>
            
        </section>
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Em breve</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/manifest.jpg"
                                alt="The manifest">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/ozark.jpg"
                                alt="Ozark">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/onepunch.jpg" 
                                alt="onepunch">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/agenteculto.jpg"
                                alt="agenteculto">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/alien.jpg"
                                alt="alien">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/hush.jpg" 
                                alt="hush">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/jogoperigoso.jpg" 
                                alt="jogoperigoso">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/prometheus.jpg" 
                                alt="prometheus">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/continencia.jpg" 
                                alt="continencia">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/filmes/gemini.jpg" 
                                alt="gemini">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theranch.jpg" 
                                alt="The Ranch">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/visavis.jpg" 
                                alt="Vis a Vis">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theblacklist.jpg" 
                                alt="theblacklist">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/suits.jpg" 
                                alt="suits">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/ozark.jpg" 
                                alt="Ozark">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/umbrellaaxcademy.jpg" 
                                alt="The Umbrella Academy">
                        </a>
                    </div>
                    
                </div>
                
                
            </div>
            
        </section>
        
        


    
    </main>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            spaceBetween: 5,
            slidesPerView: 10,
            loop: true,
            freeMode: true,
            loopAdditionalSlides: 5,
            speed: 500,
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 640px
                640: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    freeMode: false
                }
            }
        })
    </script>
    
    
   



</body>
</html>