<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/views/public/images/netflix-logo-aba.png">
    <link rel="stylesheet" href="/views/public/stylesheets/style-login.css" >  
    
    <title>Netflix</title>
</head>
<body>
    <div>
     <div>
         <header class="cabecalho">
            <img src="/views/public/images/netflix-logo.png" width="180px">    
        </header>
        <br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        <div id= "login-container">
            
            <h2>Entrar</h2>
            <form action="">
                <label for="email"></label>
                <input type="user" name="username" id="email"placeholder=" Email ou número de telefone" autocomplete="off">
                <label for="password"> </label>
                <input type="password" name=password id="password" placeholder="Senha">
                <a href="/views/index.html"><input type="submit" value="Entrar"></a>
                </form>
        
        </div>

    
    
    
   
    
</body>
</html>