<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Netflix</title>
    <link rel="icon" href="/views/public/images/netflix-logo-aba.png">
    <link rel="stylesheet" href="public/stylesheets/style.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" >
</head>
<body>
    <header >

        <div class="cabecalho">
            <a href="index.html">
                <img src="public/images/netflix-logo.png" width="88px" >
            </a>
            <nav class="menu-topo">
            <ul>
                <li><a href="index.html">Início </a></li>
                <li> <a href="series.html">Séries</a></li>
                <li><a href="filmes.html">Filmes </a></li>
                <li> <a href="">Bombando</a></li>
                <li> <a href="">Minha lista</a></li>
            </ul>
        </nav>
        </div>
        
    </header>

    <main>
        <div class="serie-principal">
            
            <div class="container">
            <img src="https://occ.a.nflxso.net/dnm/api/v6/tx1O544a9T7n8Z_G12qaboulQQE/AAAABSUHTMQMXeHfgraHjE_Yt88oX5epcMGcV0YaVuT3d6VYybLykdAersZM_Ga5XoOKgH8K3HGSuHPNaA0oB0nez1DcTlVJ_9qAnZEqH3P8fCu0vQTbXOPJLmU8BGZO6V8CGwK2FWqV118nOTiRIg6YgfNY4v_TEOiJSNQVvufyIhlHeKLVSo3GYw.png?r=ff1" alt="">            
            <p class="descricao">Um navio a vapor deixa o velho continente rumo à América.<br>
                  Mas quando outro navio de imigrantes surge à deriva,<br>
                   a jornada do grupo toma um rumo inesperado
            </p>
            <br>
            <button class="btn-assistir">
                <span class="mdi mdi-play"></span>Assistir
            </button>
            
            <button class="btn-info">
                <span class="mdi mdi-information-outline"></span> Informações
            </button>
            </div>
        </div>
        
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Ação</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/casadepapelkorea.jpg"
                               >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/vikingvalhala.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/narcos.jpg" 
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/narcosmexico.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/visavis.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/twd.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/cobrakai.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/elchapo.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/arrow.jpg" 
                                 >
                        </a>
                    
                    
                </div>
                
                
            </div>
            
        </section>
       
         
        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Aclamados pela crítica</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/friends.jpg"
                               >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/janethevirgin.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/strangerthings.jpg" 
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/lucifer.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theranch.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/suits.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/round6.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/thecrown.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/houseofcards.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/theblacklist.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/thisisus.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/visavis.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/brooklyn99.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/suits.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/ozark.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/umbrellaaxcademy.jpg" 
                                 >
                        </a>
                    </div>
                    
                </div>
                
                
            </div>
            
        </section>

        <section class="thumbSection">
            <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <h2 class="thumbTitle">Animes</h2>
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/baki.jpg"
                               >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/blue.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/boruto.jpg" 
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/jojo.jpg"
                                >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/naruto.jpg"
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/narotu2.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/onepiece.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/onepunch.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/yasuke.jpg" 
                                 >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile"  >
                            <img class="thumbTile__image"
                                src="public/images/yugioh.jpg" 
                                 >
                        </a>
                    </div>
                    
                    
                </div>
                
                
            </div>
            
        </section>
        
        


    
    </main>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            spaceBetween: 5,
            slidesPerView: 10,
            loop: true,
            freeMode: true,
            loopAdditionalSlides: 5,
            speed: 500,
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 640px
                640: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    freeMode: false
                }
            }
        })
    </script>
    
    
   



</body>
</html>